<h1>Sample App</h1>
<p>Home page bitches</p>

<%= link_to "Sign up now!", sign_up_path, class: "btn btn-large btn-primary" %>

<%= link_to image_tag("rails.png", alt: "rails"), "http://espn.com", target: "blank" %>
