<footer class="footer">
	<small>
		<%= link_to "Site Done by tyrone ", '#' %>
	</small>

	<nav>
		<ul>
			<li><%= link_to "about", about_path%></li>
			<li><%= link_to "contact", contact_path%></li>
			<li><%= link_to "news", 'http://ign.com'%></li>
		</ul>
	</nav>
</footer>